/** @format */

.App {
}
.wrapper {
	min-height: 100vh;
	margin-bottom: -10vh;
}
.header {
	background-color: #282c34;
	height: 10vh;
	display: flex;
	flex-direction: column;
	/* align-items: center;
	justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: white;
}
.nav {
}
.logo {
	width: 50vw;
}
img.logo {
	width: auto;
	height: 100%;
}
.links {
	text-align: right;
	width: 50vw;
}
.main {
}
.push {
	height: 10vh;
}
.footer {
	height: 10vh;
	background-color: #282c34;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/* Custom Below */
$gradient: linear-gradient(210deg, #943cff 0%, #dd45d3 40.13%, #fc9a57 90%);

/* @import "/node_modules/bootstrap/scss/bootstrap.scss"; */
/* @import "/node_modules/slick-carousel/slick/slick.css";
@import "/node_modules/slick-carousel/slick/slick-theme.css"; */

@font-face {
	font-family: "HKGrotesk";
	font-style: normal;
	font-weight: 300;
	src: url("./fonts/HKGrotesk-Bold.woff2") format("woff2");
}

/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */

body {
	font-family: "HKGrotesk", "Questrial", sans-serif;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}

h1 {
	font-family: "HKGrotesk", "Questrial", sans-serif;
	font-weight: 500;
}

p {
	font-family: "Roboto", sans-serif;
}

.bg-primary-faded {
	color: white;
	background: $gradient;
}

.btn.btn-primary {
	background: $gradient;
	border: 0;
}

.form-group {
	margin: 0;
}

.text-secondary {
	white-space: pre-wrap;
}
div.py-5.container > div.row > div.col > div {
	padding: 1rem;
	min-height: 12rem;
	min-width: 12rem;
}
div.py-5.container > div.row > div.col {
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
main div.py-5.how-it-works {
	padding-bottom: 0px !important;
}
footer > div > div > div > h5 {
	margin-bottom: 0;
}
footer > div > div > div > ul > li {
	font-size: 0.8rem;
}
.h1-slider {
	font-size: 10vw !important;
}
@media screen and (min-width: 1024px) {
	.h1-slider {
		font-size: 120px !important;
	}
}
.p-slider {
	font-size: 4vw !important;
}
@media screen and (min-width: 1024px) {
	.p-slider {
		font-size: 48px !important;
	}
}
.form_error {
	color: #943cff;
	margin: -13px 5px 10px 13px;
	font-size: 0.8em;
	display: block;
	white-space: pre-wrap;
	word-break: keep-all;
	font-family: Helvetica, Arial, sans-serif;
}

.hidden {
	display: none !important;
}
.form-nav {
	margin: 0 20px 0 0;
}
.dob-gender-married {
	display: flex;
	align-items: flex-end;
}
select {
	width: 100%;
	min-height: 39px;
}
label {
	margin: 0 0 0.25rem 0;
}
input,
select,
.radio-group {
	margin-bottom: 15px;
}
.radio-group {
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	padding: 4px 10px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-height: 39px;
	background-clip: padding-box;
}
.radio-group:hover,
input:hover,
select:hover {
	color: unset;
	border-color: #943cff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(252, 154, 87, 0.5);
}
input:focus,
.form-control:focus {
	border-color: #943cff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(148, 60, 255, 0.35);
}
.form-check-input {
	margin-bottom: 0;
}
input.form-control::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder,
.vNum {
	display: flex;
	align-items: center;
	line-height: 39px;
	min-height: 39px;
	overflow: hidden;
	white-space: nowrap;
}
@media (max-width: 768px) {
	.col-headers {
		display: none;
		visibility: hidden;
	}
}
.result {
	text-align: center;
	margin: 50px auto;
}
.contact-div {
	min-height: 700px;
	text-align: center;
}

.contact-div h1 {
	margin: 50px 0 25px 0;
}
.submit-message {
	margin: 10px auto;
}
